<!-- <p-button type="text" (click)="display = true" icon="pi pi-bars"></p-button>
<p-sidebar [(visible)]="display" >
  <h4 style="font-weight:normal">Navigation</h4>
      <a routerLink="/home" (click)="onSidenavClose()">Home page</a>
      <a routerLink="/userConfiguration" (click)="onSidenavClose()">User Configuration</a>
      <a routerLink="/signals" (click)="onSidenavClose()">Trading Signal</a>
      <a routerLink="/alerts" (click)="onSidenavClose()">Alerts</a>
      <a routerLink="/orders" (click)="onSidenavClose()">Orders</a>
</p-sidebar>
 -->
