<p-toast></p-toast>
<h4 class="text-center">User Profile Management</h4>
<div class="card" styleClass="p-fluid">
  <form [formGroup]="this.formUserInput">
    <div class="p-inputgroup">
      <div class="p-field p-col-4">
        <label for="userName">Zerodha User name:</label>
        <input
          type="text"
          pInputText
          id="userName"
          formControlName="userName"
          required
        />
      </div>
      <div class="p-field p-col-4">
        <label for="apiKey">Zerodha API key:</label>
        <input
          type="text"
          pInputText
          id="apiKey"
          formControlName="apiKey"
          required
        />
      </div>
      <div class="p-field p-col-4">
        <label for="apiSecret">Zerodha API Secret:</label>
        <input
          type="text"
          pInputText
          id="apiSecret"
          formControlName="apiSecret"
          required
        />
      </div>
    </div>

    <div class="p-inputgroup">
      <div class="p-field p-col-2">
        <label for="initialProfit">Initial profit target:</label>
        <input
          type="text"
          pInputText
          id="initialProfit"
          formControlName="initialProfit"
          required
        />
      </div>

      <div class="p-field p-col-2">
        <label for="initialStopLoss">Initial StopLoss:</label>
        <input
          type="text"
          pInputText
          id="initialStopLoss"
          formControlName="initialStopLoss"
          required
        />
      </div>
      <div class="p-field p-col-2">
        <label for="trailingStopLoss">Trailing StopLoss:</label>
        <input
          type="text"
          pInputText
          id="trailingStopLoss"
          formControlName="trailingStopLoss"
          required
        />
      </div>
      <div class="p-field p-col-2">
        <label for="AutoTradeQuantity">Auto Trade Quantity:</label>
        <input
          type="text"
          pInputText
          id="AutoTradeQuantity"
          formControlName="AutoTradeQuantity"
          required
        />
      </div>

      <div class="p-field p-col-2">
        <label for="AutoTradeNumber">Auto Trade Number:</label>
        <input
          type="text"
          pInputText
          id="AutoTradeNumber"
          formControlName="AutoTradeNumber"
          required
        />
      </div>
    </div>

    <div class="p-inputgroup">
      <div class="p-field p-col-2">
        <label for="IsAutoTradeEnabled">Is Paper Trading:</label>
        <p-inputSwitch
          formControlName="isPaperTradingEnabled"
          required
        ></p-inputSwitch>
      </div>

      <div class="p-field p-col-2">
        <label for="IsAutoTradeEnabled">IsAuto Trade Enabled:</label>
        <p-inputSwitch
          formControlName="IsAutoTradeEnabled"
          required
        ></p-inputSwitch>
      </div>

      <div class="p-field p-col-3">
        <label for="PauseMoneyManagement">Pause money management:</label>
        <p-inputSwitch
          formControlName="PauseMoneyManagement"
          required
        ></p-inputSwitch>
      </div>

      <button
        pButton
        pRipple
        label="Save"
        icon="pi pi-check"
        class="btn btn-primary pull-right"
        (click)="saveUserConfiguration()"
      ></button>
    </div>
  </form>
</div>
