.market-depth-badge {
  border-radius: 2px;
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
}

.market-depth-badge-status-new {
  background: #c8e6c9;
  color: #256029;
}

.market-depth-badge.status-triggered {
  background: #ffcdd2;
  color: #c63737;
}

